<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>点餐系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCF61DD91D682489008347FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF61DF21D68248A008347FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF61DFD1D68248A008347FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
