<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-08-自定义对象归档.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCFC46D71D71660F00C3B55C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFC46F01D71661000C3B55C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFC46FB1D71661000C3B55C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
