<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI-01-修改文字颜色.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCDDD9981D336C9F00F868C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCDDD9B11D336CA000F868C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCDDD9BC1D336CA000F868C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
