<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-核心动画02-音量振动条.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCC72E841D7ED807007A66C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC72E9D1D7ED808007A66C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC72EA81D7ED808007A66C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
