<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>数据刷新-基本信息的添加删除01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC817BD81D5EC7BC00A4486A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC817BF11D5EC7BC00A4486A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC817BFC1D5EC7BC00A4486A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
