<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-核心动画09-倒影.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCF1690C1D7F254800E366C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF169251D7F254800E366C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF169301D7F254800E366C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
