<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-控制器的创建-02控制器View的生命周期.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCEF12D61D6CAA05004F0753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEF12EF1D6CAA06004F0753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEF12FA1D6CAA06004F0753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
