<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-06-通过xib创建控制器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC408C931D6B11F700EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC408CAC1D6B11F700EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC408CB71D6B11F700EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
