<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-控制器创建-01UIApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC408B971D698C1C00EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC408BB01D698C1D00EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC408BBB1D698C1D00EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
