<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI进阶-03-键盘处理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC408B141D685FA200EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC408B2D1D685FA300EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC408B381D685FA300EF278B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
