<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI-02-UIView简介.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCF855491D34BEBD00E318BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF855621D34BEBD00E318BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF8556D1D34BEBD00E318BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
